
   <div id="pins" class=" transitions-enabled">
      <% @pins.each do |pin| %>
        <div class="box">
           <div class="panel panel-default">
               <%= link_to image_tag(pin.image.url(:medium)), pin %> <br>
               <div class="panel-body">
               <p><%=pin.description%></p>
               <%if current_user && pin.user == current_user%>
                   <div class="admin-footer">
                     <%= link_to edit_pin_path(pin) do %>
                     <i class="fa fa-edit"></i>
                     <%end%> |
                     <%= link_to  pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="fa fa-trash"></i>
                     <%end%>
                   </div>
               <%end%>
               <hr>
              <div class="avator-thumbs">
                  <ul class="nav navbar-nav" style="margin-top: 4px;">
                    <li class="thumnail round-image-20 "><%=image_tag(pin.user.avatar.url(:thumb)) if pin.user %></li>
                    <li style="margin-top: 3px; margin-left: 4px;"><small><%=link_to pin.user.name, "#"  if pin.user%></small></li>
                </ul>
              </div>
              <br>
              <hr>
              <div class="like footer_icons "> <i class=" fa fa-heart"></i> ||
                     <span class="  fa fa-clock-o"></span> <%=time_ago_in_words(pin.created_at) +" ago" %>
              </div>

              </div>

          </div>
      </div>
<%end %>
</div>
