<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Pixils', root_path, class:"navbar-brand pixils-brand"%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><%=link_to(root_path) do %>
        <i class="fa fa-home"></i> Home
          <%end%>
        </li>
        <li><%=link_to new_pin_path do %>
        <i class="fa fa-cloud-upload"></i> Upload
          <%end%>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
          <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
    </form>

      <ul class="nav navbar-nav navbar-right">
        <%if user_signed_in?%>
          <li style="margin-top: 9px; margin-right: -10px;" class="avator round-image-50 "><%=image_tag(current_user.avatar.url(:thumb)) %></li>
          <li><%=link_to (current_user.name)%></li>
          <li><%=link_to 'Logout',  destroy_user_session_path, method: :delete %> </li>
        <%else%>
          <li><%= link_to(new_user_session_path) do %>
           <i class="fa fa-sign-in"></i> Login
          <% end %></li>
              <li> <%= link_to(new_user_registration_path) do %>
                <i class="fa fa-pencil-square"></i> Register </li>
        <% end %>

      <%end%>
          <li><%=link_to edit_user_registration_path do %>
          <i class="fa fa-ellipsis-v"></i>
          <%end%>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
